.term-wrapper .InformationTerm p {
  font-size: 14px;
  padding: 10px 10px 10px 40px;
  text-align: justify;
}
.term-wrapper .InformationTerm h1 {
  font-size: 20px;
}
.term-wrapper .InformationTerm h2 {
  font-size: 18px;
  padding-left: 15px;
}
.InformationTerm p > ul {
  list-style: initial;
  font-size: 13px;
  padding: 0 20px;
}
.InformationTerm {
  max-height: 70%;
  overflow: auto;
  padding: 10px;
}
.InformationTerm p > ul > li {
  padding: 3px 0;
  list-style: initial;
}
.term-wrapper .container {
  padding: 0;
  height: 100%;
}
.term-wrapper .page__wrapper {
  min-height: initial;
  height: 100%;
  padding: 0px;
  position: relative;
}
.term-wrapper .page__wrapper > .term {
  height: 100%;
}
.acceptTerm{
    position: absolute;
    bottom: 0;
    padding: 0 20px;
}
@media (min-width: 1200px) {
  .term-wrapper .container {
    width: 800px;
  }
}
